/****** Object:  Table [dbo].[ProductMaster]    Script Date: 04/23/2019 02:00:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductMaster](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[BillingName] [nvarchar](255) NULL,
	[Type] [nvarchar](255) NULL,
	[GST] [float] NULL,
	[HSN] [float] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[DateEntered] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[DateModified] [datetime] NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

SET IDENTITY_INSERT [dbo].[ProductMaster] ON
INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (1, N'ARNI SILK', N'PAS-001', N'Saree', 5, 5007, 0,45501,GETUTCDATE(), NULL, NULL)
INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (2, N'ART DOPIEN WITH WORK', N'ADWW-002', N'Saree', 5, 5407, 0,45501,GETUTCDATE(), NULL, NULL)
INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (3, N'ASSAM SILK', N'AS-003', N'Saree', 5, 5007, 0,45501,GETUTCDATE(), NULL, NULL)

print 'Processed 100 total records'

print 'Processed 200 total records'

print 'Processed 300 total records'

print 'Processed 400 total records'

print 'Processed 500 total records'
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (541, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (542, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (543, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (544, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (545, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (546, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (547, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (548, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)
--INSERT [dbo].[ProductMaster] ([ProductID], [ProductName], [BillingName], [Type], [GST], [HSN], [Deleted], [CreatedBy], [DateEntered], [ModifiedBy], [DateModified]) VALUES (549, NULL, NULL, NULL, NULL, NULL, 0,45501,GETUTCDATE(), NULL, NULL)


UPDATE ProductMaster SET HSN=5007 WHERE ProductID=104
UPDATE ProductMaster SET HSN=5007 WHERE ProductID=440
UPDATE ProductMaster SET HSN=5407 WHERE ProductID=465

SET IDENTITY_INSERT [dbo].[ProductMaster] OFF
/****** Object:  Default [DF_ProductMaster_Deleted]    Script Date: 04/23/2019 02:00:16 ******/
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_Deleted]  DEFAULT ((0)) FOR [Deleted]
END
GO
