CREATE DATABASE [AMMK_InventorySystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AMMK_InventorySystem', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AMMK_InventorySystem.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AMMK_InventorySystem_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AMMK_InventorySystem_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [AMMK_InventorySystem]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [AMMK_InventorySystem] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
